<div class="euiPage">
    <div class="euiFlexGroup euiFlexGroup--responsive">
        <div class="euiFlexItem">
            <div class="euiFlexGroup euiFlexGroup--responsive">
            </div>
            <div class="euiFlexGroup euiFlexGroup--responsive">
                <div class="euiFlexItem">
                    <react-component name="WelcomeScreenWrapper" props="welcomeScreenProps" style="width:100%;">
                    </react-component>
                </div>
            </div>
        </div>
    </div>
</div>